.buttonorangecomp{
    display: flex;
    width: 100%;
    gap: 7%;
    background-color: hsl(26, 100%, 55%);
    height: 70px;
    align-items: center;
    justify-content: center;
    color:  hsl(25, 100%, 94%);
    border-radius: 10px;
    cursor: pointer;
}