.carouselimages{
    width: 100%;
    height: 100%;
    position: relative;
   
}
.closebutton{
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    z-index: 1;
    background-image: url(../../images/icon-close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

}
