.imagecardcomp{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.bigpicture{
height: 60%;
width: 100%;
box-sizing: border-box;
}

.smallpictures{
    display: flex;
margin-top: 8%;
box-sizing: border-box;

gap: 10px;
height: 30%;
}
.product-size{
    height: 100%;
    width: 100%;
}
.imagediv{
    width: 25%;
    height: 100%;
    
    
}
.image{
    height: 100%;
    width: 100%;
border-radius: 20px;
cursor: pointer;
}
.big-image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width:930px) {
 .smallpictures{
    display: none;
 } 

 .imagecardcomp{
   width: 100%; 
   margin-top: 3%;
 }
 .bigpicture{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
 }
}